@model Resonance.Insight3.Web.ViewModels.Remarketing.RemarketingCampaignViewModel

<div id="step1">
    Step 1 for @Model.ApplicationId - Campaign ID @Model.RemarketingCampaignId
</div>
<div id="step2">
    Step 2 for @Model.ApplicationId - Campaign ID @Model.RemarketingCampaignId
</div>
<div id="step3">
    Step 3 for @Model.ApplicationId - Campaign ID @Model.RemarketingCampaignId
</div>
<div id="step4">
    Step 4 for @Model.ApplicationId - Campaign ID @Model.RemarketingCampaignId
</div>

<script src="~/Scripts/Certona/Wizard/WizardPOC.Wizard.js"> </script>