@using Resonance.Insight3.Web.Helpers
@model Resonance.Insight3.Web.ViewModels.Catalog.CatalogDetails

<div style="display: block; width: 100%; overflow: auto">
    <div style="float: left; width: 50%;">
        <div>
            <span class="bold">@this.SharedResources("name")</span><br/>
            @Model.Name
        </div>
        
        <div style="margin-top: 15px;">
            <span class="bold">@this.SharedResources("description")</span>
            <br/>
            @Model.Description
        </div>
        
        <div style="margin-top: 15px;">
            <span class="bold">@this.SharedResources("language")</span>
            <br/>
            @Model.LanguageName
        </div>
    </div>
    <div style="float: left; width: 50%;">
        <div>
            <span class="hotspot" data-hotspot="@this.InfoPanelResources("assettype")"><span class="bold">@this.SharedResources("assettype")</span></span><br/>
            <img src="/Images/AssetTypes/Small/@Model.Icon_FileName.ToLower()" style="vertical-align: middle;" alt="" /> @Model.AssetType
        </div>
        <div style="margin-top:15px;">
            <span class="hotspot" data-hotspot="@this.InfoPanelResources("applications")"><span class="bold">@this.SharedResources("applications")</span></span><br/>
            @foreach (var catApp in Model.CatalogApplications)
            {
<text>@catApp.Key (@catApp.Value)<br/></text>
            }
        </div>
    </div>
    <br/>
</div>
